:root {
    --blinktime: 0.3s;
}

body {
    font-family: "Helvetica";

    background: #000 url(https://topmmogames.org/upload/quake-champions/quake-champions-17.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hidden {
    display: none;
}

.blink {
    animation: fade var(--blinktime) linear;
}

.hitBlink {
    animation: fade 0.3s linear;
}

@keyframes fade {
    0%, 80% {
        opacity: 1
    }
    80%, 100% {
        opacity: 0
    }
}

.ui * {
    box-sizing: border-box;
    pointer-events: none;
}

.ui-main-item {
    position: absolute;
    bottom: 90px;
    right: 90px;
    color: #bbb;
    text-transform: uppercase;
    perspective: 500px;
}

.ui-player-info {
    position: absolute;
    bottom: 90px;
    left: 90px;
    color: #bbb;
    text-transform: uppercase;
    perspective: 500px;
}
